<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Twitter a11y score</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="theme-color" content="#1DA1F2">
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <h1>Twitter a11y score</h1>
        {% if not result %}
        <main>
            <h2>Sign-in</h2>
            <p>Get your accessibility score by sign-in to Twitter. This app will analyse your last tweets and calculate a score. No data will be stored.</p>
            <p class="center"><a href="/signin"><button>Sign-in to Twitter</button></a></p>
        </main>
        {% else %}
        <main>
            <div class="diploma">
                <p class="grade">{{ result.stats.scoreLetter }}</p>
                <h2>Unofficial <em>Certificate</em> of Twitter accessibility</h2>
                <hr>
                <p><em>@{{ result.username }}</em> has been awarded of a Twitter accessibility certificate<br/>with the grade: <em>{{ result.stats.scoreLetter }}</em><br/>with <em>{{ result.stats.tweetsWithAltText }}</em> tweets with alt text, <em>{{ result.stats.tweetsWithoutAltText }}</em> tweets with a media without alt text<br/>in the last {{ result.stats.total }} tweets.</p>
            </div>
            <p class="center"><a href="https://twitter.com/intent/tweet?url=https%3A//twittera11yscore.dav.li/&text=My%20Twitter%20accessibility%20score%20is%20{{ result.stats.scoreLetter | urlencode }}%20&via=DavidLibeau&hashtags=a11y,accessibility" target="_blank" rel="noreferrer noopener"><button>Tweet your results!</button></a></p>
            <h2>How to improve your score</h2>
            <p>Read this article about <a href="https://help.twitter.com/en/using-twitter/picture-descriptions" target="_blank">How to make images accessible for people</a>!</p>
            <h2>Details of your results</h2>
            <h3>Tweets without alt text</h3>
            <ul>
                {% for tweet in result.data.tweetsWithoutAltText %}
                <li class="tweet"><fig><a href="https://twitter.com/i/web/status/{{ tweet.id_str }}" target="_blank" rel="noreferrer noopener"><img src="{{ tweet.entities.media[0].media_url }}" alt="Image without alt text"/></a></fig>{{ tweet.text }}</li>
                {% endfor %}
            </ul>
            <h3>Tweets with alt text</h3>
            <ul>
                {% for tweet in result.data.tweetsWithAltText %}
                <li class="tweet"><fig><a href="https://twitter.com/i/web/status/{{ tweet.id_str }}" target="_blank" rel="noreferrer noopener"><img src="{{ tweet.entities.media[0].media_url }}" alt="{{ tweet.extended_entities.media[0].ext_alt_text }}"/></a><figcaption>{{ tweet.extended_entities.media[0].ext_alt_text }}</figcaption></fig>{{ tweet.text }}</li>
                {% endfor %}
            </ul>
        </main>
        {% endif %}
        <footer>App by <a href="https://twitter.com/DavidLibeau" target="_blank" rel="noreferrer noopener">@DavidLibeau</a> (<a href="https://framagit.org/DavidLibeau/twittera11yscore" target="_blank" rel="noreferrer noopener">open source</a>)</footer>
    </body>
</html>
