<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Loading — Twitter a11y score</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="theme-color" content="#1DA1F2">
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <h1>Loading Twitter a11y score…</h1>
        <main>
            <p>This can take a while. Please do not refresh the page.</p>
        </main>
        <script>
            window.location = '{{ url | safe }}';
        </script>
    </body>
</html>
