body{
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    background-color: #F5F8FA;
    color: #14171A;
    margin: 0;
}

h1 {
    background-color: #1DA1F2;
    color: white;
    margin: 0;
    padding: 20px;
}

a {
    color: #1DA1F2;
}

button {
    background-color: #1DA1F2;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}
button:hover{
    cursor: pointer;
    color: #14171A;
}

.tweet {
    position: relative;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    max-width: 700px;
    padding: 15px;
    overflow: hidden;
}
.tweet img {
    max-width: 100%;
}
.tweet fig {
    display: block;
    margin: -15px;
    margin-bottom: 15px;
}
.tweet figcaption{
    padding: 15px;
    font-style: italic;
}

main {
    max-width: 700px;
    margin: auto;
    text-align: left;
}

.center {
    text-align: center;
}

ul, li {
    list-style: none;
    padding: 0;
    display: block;
    margin-bottom: 10px;
}

.diploma {
    position: relative;
    background-color: white;
    border-radius: 30px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    border: 10px double #1DA1F2;
    margin-top: 20px;
    padding: 20px 40px;
    text-align: center;
}

.diploma em {
    color: #1DA1F2;
    font-style: normal;
    font-weight: bold;
}

.diploma h2 {
    margin: 0;
}
.diploma h2 em {
    display: block;
    font-size: 2.5em;
}

.grade {
    position: absolute;
    top: -55px;
    right: 10px;
    transform: rotate(20deg);
    width: 95px;
    height: 95px;
    font-size: 4em;
    border: 9px dashed #1DA1F2;
    border-radius: 100%;
    color: #1DA1F2;
    font-weight: bold;
    text-align: center;
    line-height: 95px;
}

.diploma hr {
    width: 20%;
    margin: 20px auto;
    border: 2px dashed #1DA1F2;
}

footer {
    border-top: 2px solid #1DA1F2;
    margin-top: 40px;
    padding: 10px;
}